html,
body {
    text-align: center;
    margin: 0;
    /*padding: 0;*/
}

table, th, td {
    position: center;
    border: 0px solid;
}

.canvas {
    
    /*TODO: found a way to implemente the absolute fiture without make it collaps*/ 
    position: relative;
    margin: 0;
    width: 100px;
    height: 100px;
}

.hero {
    position: absolute;
}
